VITE_SUPABASE_URL=https://xdcjnfmtjnwmrmoggxty.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_weWZ7wW0fi1Vo24R8YRovQ_A82r6HOR

VITE_CLOUDFLARE_ACCOUNT_ID=ce36cbada182152a2e9e81d63ab00b71
VITE_R2_ACCESS_KEY_ID=003ef2dd43d096c9f3e3cd55cc493c6f
VITE_R2_SECRET_ACCESS_KEY=bb7c74100e27f36be394ec2133bf1e9d37d8e4d860565b9c388374252ffc4d26
VITE_R2_BUCKET_NAME=personal-website-gam3plify
VITE_R2_PUBLIC_URL=https://ce36cbada182152a2e9e81d63ab00b71.r2.cloudflarestorage.com